/**
 * Author：zax
 * Time：2018/4/26
 * Description：Description
 */

@import "./public/normalize";
@import "./public/public";

.eos-node {
    position: relative;
    width: 100%;
    height: auto;

    // title 统一样式
    .section-title {
        text-align: center;
        font-size: 30px;
        margin-top: 75px;

        span {
            padding: 3px 8px;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            background: #c9a0ff;
            background: linear-gradient(120deg, #5868eb 10%, #bd83ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #e9e9e9;

            &:after {
                display: inline-block;
                content: '';
                width: 24px;
                height: 2px;
                background: linear-gradient(150deg, #5868eb 40%, #ab61ff);
                position: absolute;
                bottom: -22px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    // home 样式
    .eos-node-header {
        position: relative;
        width: 100%;
        height: 900px;
        background: #112;
        background: url("../img/eosGalaxy/home-bg.jpg") no-repeat top \9 \0;
        background-size: cover \9 \0;

        #scene {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
        }

        .nav-section {
            width: 100%;
            position: relative;

            .nav-btns {
                width: 1200px;
                margin: 45px auto 0;
                text-align: center;

                .nav-btn-item {
                    display: inline-block;

                    a {
                        color: #858587;

                        &.active,
                        &:hover {
                            color: #fff;
                        }
                    }
                }

                .separate {
                    vertical-align: middle;
                    background: #5a5964;
                    display: inline-block;
                    width: 2px;
                    height: 2px;
                    margin: 0 27px;
                }
            }

            .language-btns {
                position: absolute;
                top: 0;
                right: 60px;

                .line {
                    color: #7f7e87;
                    margin: 0 12px;
                }

                .btn {
                    cursor: pointer;
                    color: #dedede;
                    user-select: none;

                    &.active,
                    &:hover {
                        color: #65a3f5;
                    }
                }
            }
        }

        .logo-img {
            background: url("../img/eosGalaxy/logo.png") no-repeat center / 100%;
            width: 256px;
            height: 243px;
            margin: 140px auto 0;
            position: relative;
            z-index: 9;
        }

        .logo-text {
            font-size: 72px;
            color: #fff;
            text-align: center;
            margin: 35px auto 22px;
        }

        .logo-slogon {
            font-size: 48px;
            color: #fff;
            text-align: center;
        }

        .mouse-icon {
            background: url("../img/eosGalaxy/mouse-icon.png") no-repeat center / 100%;
            width: 26px;
            height: 44px;
            display: inline-block;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            bottom: 40px;
        }

        .dots {
            width: 15px;
            text-align: center;
            position: fixed;
            top: 320px;
            right: 50px;
            margin: auto;
            z-index: 10;

            .dot-item {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #2c3f64;
                margin-bottom: 30px;
                transition: 0.1s;

                &.active,
                &:hover {
                    width: 15px;
                    height: 15px;
                    background: #69aaff;
                }
            }
        }
    }

    // 介绍样式
    .eos-node-describe {
        position: relative;
        width: 100%;
        height: 600px;
        background: url("../img/eosGalaxy/desc-bg.png") no-repeat top;
        background-size: cover;

        .description {
            width: 100%;
            text-align: center;
            color: #fff;

            .slogan {
                font-size: 50px;
                font-weight: bold;
                margin: 85px 0 45px;
            }

            .paragraph {
                margin: 0 auto 45px;
                width: 1000px;
                font-size: 16px;
                line-height: 32px;
            }
        }
    }

    // 贡献样式
    .eos-node-donate {
        width: 100%;
        height: 900px;
        background: url("../img/eosGalaxy/donate-bg.jpg") no-repeat top;
        background-size: cover;

        .donate-btns {
            width: 1200px;
            margin: 245px auto 0;

            .btn-item {
                float: left;
                margin-left: 80px;

                .btn {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background: url("../img/eosGalaxy/donate-border.png") no-repeat center / 100%;
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                    }
                }

                .text {
                    margin-top: 44px;
                    text-align: center;
                    color: #fff;
                    font-size: 28px;
                }
            }
        }
    }

    // 生态样式
    .eos-node-ecology {
        width: 100%;
        height: 900px;
        background: url("../img/eosGalaxy/ecology-bg.jpg") no-repeat top;
        background-size: cover;

        .ecology-intro {
            width: 1200px;
            margin: 124px auto 0;

            .ecology-item {
                width: 360px;
                float: left;
                margin: 0 18px;

                .ecology-img {
                    border-radius: 20px;
                    overflow: hidden;
                }

                .ecology-name {
                    margin-top: 48px;
                    text-align: center;
                    font-size: 28px;
                    color: #fff;
                }
            }
        }
    }

    // 团队样式
    .eos-node-team {
        width: 100%;
        height: 900px;
        background: url("../img/eosGalaxy/team-bg.jpg") no-repeat top;
        background-size: cover;

        .team-partner {
            width: 1200px;
            margin: 124px auto 0;

            .team-item {
                width: 260px;
                float: left;
                margin: 0 20px;

                .partner-img {
                    width: 100%;
                    background: #fff;
                    height: 360px;
                }

                .desc {
                    .symbol {
                        color: #0e0e0e;

                        .partner-name {
                            font-size: 24px;
                            margin: 30px auto 8px;
                        }

                        .partner-title {
                            font-size: 16px;
                        }
                    }

                    .line {
                        display: inline-block;
                        width: 24px;
                        height: 2px;
                        background: linear-gradient(150deg, #5868eb 40%, #ab61ff);
                        margin: 20px 0;
                    }

                    .intro {
                        color: #666;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    // 底部
    .eos-node-contact {
        width: 100%;
        height: 300px;
        background: url("../img/eosGalaxy/footer-bg.jpg");
        position: relative;

        .contact-us {
            text-align: center;
            margin-top: 75px;
            margin-bottom: 80px;
            color: #fff;
            font-size: 24px;
        }

        .contact-icons {
            width: 1200px;
            margin: 0 auto;
            text-align: center;

            img {
                user-select: none;
                cursor: pointer;
                margin: 0 38px;
            }
        }
    }
}
