<div class="eos-node-contact clearfix" id="contact">
    <p class="contact-us">联系我们</p>
    <div class="contact-icons">
        <a href="#">
            <img class="steemit" src="../../img/eosGalaxy/steemit-icon.png" alt="">
        </a>
        <a href="#">
            <img class="reddit" src="../../img/eosGalaxy/reddit-icon.png" alt="">
        </a>
        <a href="#">
            <img class="m" src="../../img/eosGalaxy/m-icon.png" alt="">
        </a>
        <a href="#">
            <img class="git" src="../../img/eosGalaxy/git-icon.png" alt="">
        </a>
        <a href="#">
            <img class="twitter" src="../../img/eosGalaxy/twitter-icon.png" alt="">
        </a>
    </div>
</div>
