<div class="eos-node-header clearfix" id="home" data-id="<%= newsData%>" data-info="<%= Date.parse(new Date())%>">
    <div class="language-btns">
        <span class="btn active">EN</span>
        <span class="line"> / </span>
        <span class="btn">简</span>
    </div>
    <div id="scene"></div>
    <div class="menu-btn"></div>
    <p class="logo-img"></p>
    <p class="logo-text">EOS Galaxy</p>
</div>
