<div class="eos-node-describe clearfix" id="describe" data-id="<%= newsData%>" data-info="<%= Date.parse(new Date())%>">
    <p class="section-title">
        <span>介绍</span>
    </p>
    <div class="description">
        <p class="slogan">EOS Galaxy</p>
        <div class="paragraph">
            <p>EOS Galaxy是来自中国最大的区块链媒体生态社群，</p>
            <p>我们是全球 DApp 开发技术领先的超级节点竞选者，EOS 的狂热支持者，也是行业内资深、技术领先的 DApp 开发者。</p>
        </div>
        <div class="paragraph">
            <p>作为亚洲最专业的 EOS 爱好者聚集地，我们已拥有来自中国、韩国、日本、香港、东南亚等地的超级粉丝和忠诚用户 。本文主要介绍 EOS Galaxy 社区的概况、价值观、对社区的期待和贡献等主要发展规划。也能够了解到本社区对 EOS 整体生态的理解，以及本社群期待为 EOS 爱好者提供更多有效资讯，并用技术来驱动社区的发展。</p>
        </div>
    </div>
</div>
