<div class="eos-node-donate clearfix" id="donate" data-id="<%= newsData%>" data-info="<%= Date.parse(new Date())%>">
    <p class="section-title">
        <span>我们的贡献</span>
    </p>
    <div class="donate-btns clearfix">
        <div class="btn-item">
            <p class="btn">
                <img src="../../img/eosGalaxy/donate-media.png" alt="">
            </p>
            <p class="text">媒体</p>
        </div>
        <div class="btn-item">
            <p class="btn">
                <img src="../../img/eosGalaxy/donate-icon.png" alt="">
            </p>
            <p class="text">社群</p>
        </div>
        <div class="btn-item">
            <p class="btn">
                <img src="../../img/eosGalaxy/donate-dapp.png" alt="">
            </p>
            <p class="text">DAPP</p>
        </div>
        <div class="btn-item">
            <p class="btn">
                <img src="../../img/eosGalaxy/donate-active.png" alt="">
            </p>
            <p class="text">活动</p>
        </div>
    </div>
</div>
