<div class="eos-node-ecology clearfix" id="ecology" data-id="<%= newsData%>" data-info="<%= Date.parse(new Date())%>">
    <p class="section-title">
        <span>Galaxy生态</span>
    </p>
    <div class="ecology-intro clearfix">
        <div class="ecology-item">
            <p class="ecology-img">
                <img src="../../img/eosGalaxy/ecology-img1.png" alt="">
            </p>
            <p class="ecology-name">孵化游戏DAPP及合作</p>
        </div>
        <div class="ecology-item">
            <p class="ecology-img">
                <img src="../../img/eosGalaxy/ecology-img2.png" alt="">
            </p>
            <p class="ecology-name">路演</p>
        </div>
        <div class="ecology-item">
            <p class="ecology-img">
                <img src="../../img/eosGalaxy/ecology-img3.png" alt="">
            </p>
            <p class="ecology-name">比赛</p>
        </div>
    </div>
</div>
