<div class="eos-node clearfix" data-info="<%= Date.parse(new Date())%>">
    @@include('eosHeader.ejs')
    @@include('describe.ejs')
    @@include('donate.ejs')
    @@include('ecology.ejs')
    @@include('team.ejs')
    @@include('eosFooter.ejs')
</div>
