<div class="eos-node-team clearfix" data-id="<%= newsData%>" id="team" data-info="<%= Date.parse(new Date())%>">
    <p class="section-title">
        <span>团队</span>
    </p>
    <div class="team-partner clearfix">
        <div class="swiper-container team-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="team-item">
                        <p class="partner-img"></p>
                        <div class="desc">
                            <div class="symbol">
                                <p class="partner-name">姓名</p>
                                <p class="partner-title">火币矿池首席执行官</p>
                            </div>
                            <span class="line"></span>
                            <p class="intro">
                                十多年互联网、金融从业经验，矿工、连续创业者。曾主持项目用户过千万级，管理资产过百亿。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-item">
                        <p class="partner-img"></p>
                        <div class="desc">
                            <div class="symbol">
                                <p class="partner-name">姓名</p>
                                <p class="partner-title">火币矿池首席执行官</p>
                            </div>
                            <span class="line"></span>
                            <p class="intro">
                                十多年互联网、金融从业经验，矿工、连续创业者。曾主持项目用户过千万级，管理资产过百亿。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-item">
                        <p class="partner-img"></p>
                        <div class="desc">
                            <div class="symbol">
                                <p class="partner-name">姓名</p>
                                <p class="partner-title">火币矿池首席执行官</p>
                            </div>
                            <span class="line"></span>
                            <p class="intro">
                                十多年互联网、金融从业经验，矿工、连续创业者。曾主持项目用户过千万级，管理资产过百亿。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="team-item">
                        <p class="partner-img"></p>
                        <div class="desc">
                            <div class="symbol">
                                <p class="partner-name">姓名</p>
                                <p class="partner-title">火币矿池首席执行官</p>
                            </div>
                            <span class="line"></span>
                            <p class="intro">
                                十多年互联网、金融从业经验，矿工、连续创业者。曾主持项目用户过千万级，管理资产过百亿。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
